@import 'assets/css/style.css';

/*************************************************************************************************  Form ****************/

#signup {
  margin-top: 100px;
}

#signup-form {
  color: var(--text);
  background-color: var(--secondary);
  padding: 30px;
  border-radius: 5px;
}

.form-control {
  text-align: left;
}

::placeholder {
  font-family: var(--main-font);
  color: var(--text);
}

input:focus,
textarea:focus {
    outline-style:solid;
    outline-width: 1px;
    outline-color: var(--primary);
}

.contact-form input[type='text'],
.contact-form input[type='email'] {
    border: 0;
    border-bottom: 0.5px solid var(--primary);
    width: 100%;
    padding: 5px;
    font-size: 16px;
    font-family: var(--main-font);
    color: var(--text);
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--accent);
}

textarea {
  width: 100%;
  border: 0.5px solid var(--primary-color);
  border-radius: 0.5px;
  font-family: var(--main-font);
  padding: 5px;
  font-size: 16px;
  color: var(--text);
}

/* Media query for mobile devices from 767px and down switches checkboxes to column */
@media only screen and (max-width: 767px) {
  .checkbox-container {
    flex-direction: column;
  }
}

/* Orig Styling*/

/* #signup {
    margin-top: 100px;
    background-image: url("/assets/images/placeholders/couple-holding-hands.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
  }
  
  #signup-form {
    color: var(--primary);
    background-color: var(--secondary);
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
  }
  
  #signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
  }
  
  .text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
  }
  
  .radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    height: 150px; 
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
 */

