/* header */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* fonts */
  --title: "Fredoka", sans-serif;
  --main-font: "Karla", "Roboto" serif;
  --navigation-font: "Fredoka", sans-serif;

  /* Colours */
  --text: #000000;
  --background: #ffffff;
  --primary: #BF9CF6;
  --secondary: #BBC1DA;
  --accent: #052A75;

  /* Utility */
  --form-shadow: 0 0 0.7rem var(--primary);
  --small-boxshadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  --boxshadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  --border: 2px 2px 2px 2px;
}

/* Global */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--text);
  text-shadow: var(--shadow);
}

.navbar-brand {
  font-family: var(--title);
  font-weight: 600;
}

.nav-link {
  font-family: var(--navigation-font);
  font-weight: 500;
}

/* Buttons */
.button-link {
  color: var(--background);
  border: none;
  background: var(--accent);
  font-size: 1rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.button-link:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.card {
  background: var(--secondary);
}

/* Loader that trigers before the page loads */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.loader img {
  width: 50px;
  height: 50px;
}
.loader-hidden {
  animation: fade-out 0.5s forwards;
}

@keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -2;
  }
}

/* Rob CSS Styling */

/* Navbar */
ul {
  list-style-type: none;    
}
.navbar {
  background-color: var(--background);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.navbar-nav a:hover {
  color:var(--primary);
}

.active {
  font-weight: bold;
  color: var(--primary);
}

.navbar button.navbar-toggler {
  transition: all .15s ease;
}

@media (hover: hover) {
  .navbar button.navbar-toggler:hover {
      color: var(--primary);
  }
}

/* Hero Image */
.hero-image {
  background-size: cover;
  background-position:center;
  /* height: 600px; */
  margin-top: 100px;
}

.carousel-caption {
  top: 0;
  bottom: auto;
}

@media only screen and (min-width: 992px) {
  #hero-1-caption {
    margin-top: 4rem;
    margin-left: 4rem;
  }     
}

@media only screen and (max-width: 991px) {
  #hero-1-caption {
    font-size: 1.75rem;
    margin-top: 4rem;
    margin-left: 4rem;
  }     
}

@media only screen and (max-width: 767px) {
  #hero-1-caption {
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-left: 4rem;
  }     
}

@media only screen and (max-width: 499px) {
  #hero-1-caption {
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-left: 4rem;
  }     
}

/* #hero-1 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/hero/hero-image-1.svg") left center no-repeat;
}

#hero-2 {
  background: var(--secondary);
}

#hero-3 {
  background: var(--accent);
} */

/* Site Goals Section */
.info-box img {
  height: 80px;
}

/* Media query for mobile devices from 500px and down reduces image height to 70px */
@media only screen and (max-width: 500px) {
  .info-box img {
    height: 70px;
  }  
}
/* Media query for mobile devices from 400px and down reduces image height to 60px */
@media only screen and (max-width: 400px) {
  .info-box img {
    height: 60px;
  }  
}

.icon-link:hover {
  opacity: 0.5;
  transform: scale(1.2);
  cursor: pointer;
}

/* Info Carousel */
.carousel-control-prev, .carousel-control-next {
  filter: invert(100%); 
}

/* section colors */
/* main > section {
  height: 100vh;
}

main > section:nth-child(2n-1) {
  background-color: var(--primary);
}

main > section:nth-child(2n) {
  background-color: var(--accent);
} */



/* Symptoms Pages */

.health-page {
  margin-top: 110px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.title-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 1rem;
}

.title-container > img {
  height: 4.5rem;
}

.title-container > h1 {
  font-size: 2rem;
  margin-bottom: 0;
  margin-right: 1rem;
  color: var(--accent);
}

.persona-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.persona-container > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
  margin: 0;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem;
}

.persona-icon {
  height: 1.5rem;
}

.persona-icon:hover {
  height: 2.5rem;
}

.current-persona {
  height: 2.5rem;
}

.intro-container {
  text-align: center;
  max-width: 60rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.body-plus-container {
  width: 100%;
  max-width: 380px;
  position: relative;
  margin: 0 auto;
}

.body-container {
  display: flex;
  justify-content: center;
}

.body {
  margin-top: 4rem;
  width: 75%;
}

.warning-info {
  text-align: center;
  max-width: 60rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  background-color: var(--primary);
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;
}

.warning-info > p {
  margin: 0;
}

/* Symptom specific */
.symptom-icon {
  height: 4rem;
  display: block;
  position: absolute;
}

.symptom-icon:hover {
  height: 6rem;
}

.symptom-placeholder {
  display: block;
  position: absolute;
}

#top-tip-trigger {
  top: 0rem;
  left: 4rem;
}

#women-mood {
  top: 0rem;
  right: 4rem;
}

#women-headache {
  top: 5rem;
  left: 0.5rem;
}
#women-sleep {
  top: 5rem;
  right: 0.5rem;
}

#women-brain-fog {
  top: 10rem;
  left: -0.5rem;
}
#women-mouth {
  top: 10rem;
  right: -0.5rem;
}

#women-hot-flush {
  top: 16rem;
  left: -1rem;
}
#women-heart {
  top: 16rem;
  right: -1rem;
}

#women-skin {
  top: 22rem;
  left: -1rem;
}
#women-vagina {
  top: 22rem;
  right: -1rem;
}

#women-sex {
  top: 28rem;
  left: 0rem;
}
#women-toilet {
  top: 28rem;
  right: 0rem;
}

#women-muscle {
  top: 34rem;
  left: 0rem;
}
#women-bone {
  top: 34rem;
  right: 0rem;
}


/* Modal specific */
.symptom-modal, .top-tip-modal {
  display: none;
  position: fixed;
  z-index: 3;
  width: 80%;
  max-height: 80%;
  right: 10%;
  top: 120px;
  background-color: #e2e8ff;
  border: 4px solid black;
  overflow: scroll;
}

.close {
  float: right;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.close:hover, .close:focus {
  color:black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width:768px){
  .title-container > img {
    height: 7rem;
  }
  .title-container > h1 {
    font-size: 3.5rem;
  }
  .persona-container > ul {
    width: 15rem;
  }
  .persona-icon {
    height: 2rem;
  }
  .persona-icon:hover {
    height: 3rem;
  }
  .current-persona {
    height: 3rem;
  }
}
