/* header */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

:root {
  /* fonts */
  --title: "Lato", sans-serif;
  --main-font: "Playfair Display", serif;
  --navigation-font: "Roboto", sans-serif;

  /* Colours */
  --text: #000000;
  --background: #ffffff;
  --primary: #444444;
  --secondary: #888888;
  --accent: #cccccc;

  /* Utility */
  --form-shadow: 0 0 0.7rem var(--primary);
  --small-boxshadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  --boxshadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  --border: 2px 2px 2px 2px;
}

/* Loader that trigers before the page loads */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark-color);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.loader img {
  width: 50px;
  height: 50px;
}
.loader-hidden {
  animation: fade-out 0.5s forwards;
}
