/* header */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

:root {
  /* fonts */
  --title: "Lato", sans-serif;
  --main-font: "Playfair Display", serif;
  --navigation-font: "Roboto", sans-serif;

  /* Colours */
  --text: #000000;
  --background: #ffffff;
  --primary: #444444;
  --secondary: #888888;
  --accent: #cccccc;

  /* Utility */
  --form-shadow: 0 0 0.7rem var(--primary);
  --small-boxshadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  --boxshadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  --border: 2px 2px 2px 2px;
}

/* Global */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  letter-spacing: 2px;
  color: var(--text);
  text-shadow: var(--shadow);
}

/* Loader that trigers before the page loads */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.loader img {
  width: 50px;
  height: 50px;
}
.loader-hidden {
  animation: fade-out 0.5s forwards;
}

@keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -2;
  }
}

/* Hero Image */
.hero-image {
  /* background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("/static/images/hero/map-pins-hero-1500x1000-compress.webp") left center no-repeat; */
  background: purple;
  background-size: cover;
  background-position:center;
  height: 600px;
}

/* section colors */
/* main > section {
  height: 100vh;
}

main > section:nth-child(2n-1) {
  background-color: var(--primary);
}

main > section:nth-child(2n) {
  background-color: var(--accent);
} */
