#image-container {
  position: relative;
}

.body-images {
  position: absolute;
  top: 0;
  left: 0;
}

.health-page {
  margin-top: 110px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.title-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 1rem;
}

.title-container > img {
  height: 4.5rem;
}

.title-container > h1 {
  font-size: 2rem;
  margin-bottom: 0;
  margin-right: 1rem;
  color: #524ed2;
}

.persona-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.persona-container > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
  margin: 0;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem;
}

.persona-icon {
  height: 1.5rem;
}

.persona-icon:hover {
  height: 2.5rem;
}

.current-persona {
  height: 2.5rem;
}

/* Symptom specific */
.symptom-icon {
  height: 4rem;
  display: block;
  /* position: absolute; */
}

.symptom-icon:hover {
  height: 6rem;
}

.test {
  border: red 2px solid;
}
