img[data-symphtom-id="colleague-mood"].active {
  top: calc(-20vh - 3rem);
  left: calc(7vw + 6rem);
  visibility: visible;
}

img[data-symphtom-id="colleague-headache"].active {
  top: calc(-20vh - 3rem);
  left: calc(-7vw - 6rem);
  visibility: visible;
}

img[data-symphtom-id="colleague-sleep"].active {
  left: calc(9vw + 7rem);
  visibility: visible;
}

img[data-symphtom-id="colleague-brain-fog"].active {
  left: calc(-9vw - 7rem);
  visibility: visible;
}

img[data-symphtom-id="colleague-hot-flushes"].active {
  top: calc(20vh + 3rem);
  left: calc(7vw + 6rem);
  visibility: visible;
}

img[data-symphtom-id="colleague-toilet"].active {
  top: calc(20vh + 3rem);
  left: calc(-7vw - 6rem);
  visibility: visible;
}
